@import '../utils/media-queries.scss';

.dashboardContainer {
  padding: 24px;
  padding-top: 0;

  .addLovedOne {
    position: fixed;
    bottom: 24px;
    right: 24px;
  }

  .formGroup {
    @include desktop {
      width: 320px;
    }

    .inputContainer {
      margin-bottom: 24px;

      &:first-child {
        margin-bottom: 12px;
      }
    }

    button {
      width: 100%;

      @include desktop {
        width: inherit;
      }
    }
  }

  .paperContainer {
    margin: 0 auto;

    @include desktop {
      max-width: 50%;
    }
  }
}

.dashboardDialog {
  // Paper component that is the actual dialog
  > div:last-child {
    margin: 24px;
  }

  .closeIcon {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  .dashboardDialogActions {
    display: flex;
    width: 100%;
    flex-direction: column;

    button:first-child {
      margin-bottom: 12px;
    }
  }
}
