.forgetPasswordContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 100;
  }

  .paper {
    padding: 24px;
    width: 360px;
    height: 299px;
    position: relative;

    .backButton {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      margin: 12px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .buttonContainer {
      margin-top: 24px;
      margin-bottom: 12px;
    }
  }

  .snackbar {
    .messageContainer {
      display: flex;
      align-items: center;

      .message {
        padding-left: 24px;
      }
    }

    &.error {
      div:first-child {
        background-color: #CF333A;
      }
    }

    &.success {
      div:first-child {
        background-color: #4A9E4F;
      }
    }
  }
}
