.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 100;
  }

  .paper {
    padding: 24px;
    width: 360px;
    height: 299px;
  }

  form {
    display: flex;
    flex-direction: column;

    .buttonContainer {
      margin-top: 24px;
      margin-bottom: 12px;
    }
  }

  .snackbar {
    div:first-child {
      background-color: #CF333A;
    }

    .messageContainer {
      display: flex;
      align-items: center;

      .message {
        padding-left: 24px;
      }
    }
  }
}
