.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    font-weight: 100;
    text-align: center;
    margin: 0;
  }

  .paperContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .paper {
      padding: 24px;
      width: 360px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .buttonContainer {
      margin-top: 24px;
      margin-bottom: 12px;
    }

    .passwordInput {
      margin-top: 12px;
    }
  }

  .formText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .signUpContainer {
    display: flex;
    align-items: center;

    p {
      margin-right: 6px;
    }
  }

  .snackbar {
    div:first-child {
      background-color: #CF333A;
    }

    .messageContainer {
      display: flex;
      align-items: center;

      .message {
        padding-left: 24px;
      }
    }
  }
}
