.lovedOne {
  margin-bottom: 12px;

  button {
    width: 100%;

    li {
      justify-content: space-between;
    }
  }

  svg {
    transform: translateX(12px);
  }

  .verticalMenuButton {
    width: 36px;
    height: 36px;
  }
}

.lovedOneMenu {
  display: flex;
  flex-direction: row;
}
